<div>
    <canvas id="canvasWindow" width="1600" height="800"></canvas>
    <div class="modal fade" id="circleModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Circle Properties</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="css-form">
                        <label>radius: <input class="form-control" type="number" ng-model="circle.radius" required /></label><br />
                        <label>color: <input class="form-control" type="text" ng-model="circle.color" required /></label><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="drawCircle(circle)" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rectangularModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rectangular Properties</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="css-form">
                        <label>width: <input class="form-control" type="number" ng-model="rectangular.width" required /></label><br />
                        <label>height: <input class="form-control" type="number" ng-model="rectangular.height" required /></label><br />
                        <label>angle: <input class="form-control" type="number" ng-model="rectangular.angle" required /></label><br />
                        <label>color: <input class="form-control" type="text" ng-model="rectangular.color" required /></label><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="drawRectangular(rectangular)" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="cricleCoordinateModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Circle Dimentions</h4>
                </div>
                <div class="modal-body">
                    <b>Radius:</b><br/>
                    <b>RadiusX:</b> {{radius.radiusX}}<br/>
                    <b>RadiusY:</b> {{radius.radiusY}}<br/>
                    <b>Coordinates:</b><br/>
                    <b>CoordinateX1: </b>{{firstCircCoordinateX}}<br/>
                    <b>CoordinateY1: </b>{{firstCircCoordinateY}}<br/>
                    <b>CoordinateX2: </b>{{secondCircCoordinateX}}<br/>
                    <b>CoordinateY2: </b>{{secondCircCoordinateY}}<br/>
                    <b>CoordinateX3: </b>{{thirdCircCoordinateX}}<br/>
                    <b>CoordinateY3: </b>{{thirdCircCoordinateY}}<br/>
                    <b>CoordinateX4: </b>{{forthCircCoordinateX}}<br/>
                    <b>CoordinateY4: </b>{{forthCircCoordinateY}}<br/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="rectangularCoordinateModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rectangular Dimentions</h4>
                </div>
                <div class="modal-body">
                    <b>Center points:</b><br/>
                    <b>Center pointX: </b> {{rectCenterPointX}}<br/>
                    <b>Center pointY: </b>{{rectCenterPointY}}<br/>
                    <b>Coordinates:</b><br/>
                    <b>CoordinateX1: </b>{{firstRectCoordinateX}}<br/>
                    <b>CoordinateY1: </b>{{firstRectCoordinateY}}<br/>
                    <b>CoordinateX2: </b>{{secondRectCoordinateX}}<br/>
                    <b>CoordinateY2: </b>{{secondRectCoordinateY}}<br/>
                    <b>CoordinateX3: </b>{{thirdRectCoordinateX}}<br/>
                    <b>CoordinateY3: </b>{{thirdRectCoordinateY}}<br/>
                    <b>CoordinateX4: </b>{{forthRectCoordinateX}}<br/>
                    <b>CoordinateY4: </b>{{forthRectCoordinateY}}<br/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>