<div id = "drawingContainer">
    <!--<canvas id="canvasWindow" width="1600" height="800"></canvas>-->
    <div class="modal fade" id="canvasModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Container Properties</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="css-form">
                        <label>R &#181m: <input class="form-control" type="number" ng-model="addedCanvas.width" required min="0" /></label><br />
                        <label>Z &#181m: <input class="form-control" type="number" ng-model="addedCanvas.height" required min="0" /></label><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="addCanvas(addedCanvas)" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="circleModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Circle Properties</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="css-form">
                        <label>radius &#181m: <input class="form-control" type="number" ng-model="circle.radius" required min="0" /></label><br />
                        <label>top position &#181m: <input class="form-control" type="number" ng-model="circle.top" required min="0" /></label><br />
                        <label>left position &#181m: <input class="form-control" type="number" ng-model="circle.left" required min="0" /></label><br />
                        <label>color:
                            <select class="form-control" ng-model="circle.color" required >
                                <option value="" disabled selected>Select a color</option>
                                <option value="blue">blue</option>
                                <option value="green">green</option>
                                <option value="red">red</option>
                                <option value="black">black</option>
                                <option value="purple">purple</option>
                                <option value="pink">pink</option>
                            </select>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="drawCircle(circle)" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rectangularModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rectangular Properties</h4>
                </div>
                <div class="modal-body">
                    <form novalidate class="css-form">
                        <label>width &#181m: <input class="form-control" type="number" ng-model="rectangular.width" required min="0"/></label><br />
                        <label>height &#181m: <input class="form-control" type="number" ng-model="rectangular.height" required min="0"/></label><br />
                        <label>angle: <input class="form-control" type="number" ng-model="rectangular.angle" required min="0"/></label><br />
                        <label>top position &#181m: <input class="form-control" type="number" ng-model="rectangular.top" required min="0" /></label><br />
                        <label>left position &#181m: <input class="form-control" type="number" ng-model="rectangular.left" required min="0" /></label><br />
                        <label>color:
                            <select class="form-control" ng-model="rectangular.color" required >
                                <option value="" disabled selected>Select a color</option>
                                <option value="blue">blue</option>
                                <option value="green">green</option>
                                <option value="red">red</option>
                                <option value="black">black</option>
                                <option value="purple">purple</option>
                                <option value="pink">pink</option>
                        </select>
                        </label><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="drawRectangular(rectangular)" value="Save" class="btn btn-default">Save</button>
                    <button type="button" ng-click="reset()" value="Reset" class="btn btn-default">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="cricleCoordinateModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Circle Dimentions</h4>
                </div>
                <div class="modal-body">
                    <b>Radius:</b><br/>
                    <b>RadiusX:</b> {{radius.radiusX}} &#181m<br/>
                    <b>RadiusY:</b> {{radius.radiusY}} &#181m<br/>
                    <b>Coordinates:</b><br/>
                    <b>CoordinateX1: </b>{{firstCircCoordinateX}} &#181m<br/>
                    <b>CoordinateY1: </b>{{firstCircCoordinateY}} &#181m<br/>
                    <b>CoordinateX2: </b>{{secondCircCoordinateX}} &#181m<br/>
                    <b>CoordinateY2: </b>{{secondCircCoordinateY}} &#181m<br/>
                    <b>CoordinateX3: </b>{{thirdCircCoordinateX}} &#181m<br/>
                    <b>CoordinateY3: </b>{{thirdCircCoordinateY}} &#181m<br/>
                    <b>CoordinateX4: </b>{{forthCircCoordinateX}} &#181m<br/>
                    <b>CoordinateY4: </b>{{forthCircCoordinateY}} &#181m<br/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade bd-example-modal-sm" id="rectangularCoordinateModal" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Rectangular Dimentions</h4>
                </div>
                <div class="modal-body">
                    <b>Center points:</b><br/>
                    <b>Center pointX: </b> {{rectCenterPointX}} &#181m<br/>
                    <b>Center pointY: </b>{{rectCenterPointY}} &#181m<br/>
                    <b>Coordinates:</b><br/>
                    <b>CoordinateX1: </b>{{firstRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY1: </b>{{firstRectCoordinateY}} &#181m<br/>
                    <b>CoordinateX2: </b>{{secondRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY2: </b>{{secondRectCoordinateY}} &#181m<br/>
                    <b>CoordinateX3: </b>{{thirdRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY3: </b>{{thirdRectCoordinateY}} &#181m<br/>
                    <b>CoordinateX4: </b>{{forthRectCoordinateX}} &#181m<br/>
                    <b>CoordinateY4: </b>{{forthRectCoordinateY}} &#181m<br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--<input ng-disabled="!canvasIsAdded" type="submit" value="Add Grid" ng-click="addGrid()"/>-->
</div>